/* CLASSES DE BASE */
a, li, i, input, textarea, button {
    @include transition-duration(0.4s);
}

a:active, li:active, i:active, input:active, button:active {
    @include transition-duration(0s);
}

.float-left, .alignleft {
    @include float-left;
}

.float-right, .alignright {
    @include float-right;
}

.aligncenter {
    margin: {
        left: auto;
        right: auto;
    }
}

.edit-post-link {
    font-style: italic;
}

.txt-right {
    text-align: right;
}

.txt-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.wp-caption {
    max-width: 100%;
}

.wp-caption-text {
    max-width: 100%;
}

.sticky {
    max-width: 100%;
}

.screen-reader-text {
    max-width: 100%;
}

.gallery-caption {
    max-width: 100%;
}

.bypostauthor {
    max-width: 100%;
}

.reset-float {
    @include reset-float;
}

.clear {
    @include clearfix;

    visibility: hidden;
    height: 0;
    width:0;
    clear: both;
}

.visuallyhidden {
    @include squish-text();
}

.domhidden {
    color: transparent;
    font: 0px/0 serif;
    height: 0;
    overflow: hidden;
    position: absolute;
    text-shadow: none;
    width: 0;
}

.states, .wpcf7-response-output {
    @include border-radius(.5rem);
    text-align: center;
    margin: 1em 0;
    padding: 1em .5em;
    font-size: 1em;
    line-height: 1.6;
    display: none;

    &.info {
        color: #787878;
        border:solid 1px #d9d9d9;
        background: {
            color: #f9f9f9;
        }
        display: block;
    }

    &.warning, &.alert, &.failure, &.wpcf7-validation-errors {
        color: #ffa800;
        border: solid 1px #ffa800;
        background-color: #fefbe9;
        display: block;
    }

    &.success, &.notice, &.wpcf7-mail-sent-ok {
        color: #468847;
        border: solid 1px #468847;
        background-color: #dff0d8;
        display: block;
    }

    &.error {
        color: #e64545;
        border: solid 1px #fcbcbc;
        background-color: #fddede;
        display: block;
    }

    &.highlight {
        color: #3a87ad;
        border: solid 1px #bee1f3;
        background-color: #d9edf7;
        display: block;
    }
}

a[role="button"], .button {
    border: none;
    line-height: normal;
    display: block;
    text-decoration: none;
    color: #ffffff;
    background-color: $color-green;
    border-radius: .2em;
    text-align: center;
    padding: 1em;
    //    font-size: 1.1em;
    font-size: 1em;
    position: relative;
    width: 100%;
    cursor: pointer;

    &::after {
        transition-duration: 0.4s;
        @include content('\f054');
        font: {
            family: 'FontAwesome';
            size: 1em;
        }
        @include inline-block;
        margin: {
            left: 1em;
        }
    }

    &:hover, &:focus {
        background-color: darken($color-green, 20%);
    }

    &:active {
        background-color: darken($color-green, 30%);

        //        &::after {
        //            @include content('\f110');
        //            animation: spin 2s linear infinite;
        //        }
    }

    &.is-loading {
        &::after {
            @include content('\f110');
            animation: spin 2s linear infinite;
        }
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.reverside {
    display: inline-block;
    position: relative;

    &.float-right, &.alignright {
        margin: {
            left: 1em;
            bottom: 1em;
        }
    }

    &.float-left, &.alignleft {
        margin: {
            right: 1em;
            bottom: 1em;
        }
    }

    img {
        @include transition-duration(400ms);

        &:last-child {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    &:hover, &:focus {
        img {
            &:last-child {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    &.aligncenter {
        display: block;
        text-align: center;

        img {
            &:last-child {
                left: 50%;
                @include translateX(-50%);
            }
        }
    }
}

img {
    max-width: 100%;
    height: auto;
}

iframe {
    border: 0;
    max-width: 100%;
}