main {
    @include from('desktop') {
        margin: {
            left: $sidebar-width;
        }
        min-height: 100vh;
        margin-bottom: $footer-height * -1;  // sticky footer
        padding-bottom: 1px; // hack pour le footer, pour éviter la superposition
        max-width: 1600px;
    }

    [id="content"] {
        @include from('desktop') {
            margin-bottom: $footer-height;  // sticky footer
        }

        padding: 1px 1em;

        > section {
            margin: {
                bottom: 5em;
            }
        }

        p, li, blockquote, td, th {
            line-height: $golden-ratio;
        }

        img {
            &.float-right, &.alignright {
                margin: {
                    left: 1em;
                    bottom: 1em;
                }
            }

            &.float-left, &.alignleft {
                margin: {
                    right: 1em;
                    bottom: 1em;
                }
            }

            &.aligncenter {
                display: block;
            }
        }

        strong {
            color: $color-green;
        }

        a:not([role="button"]) {
            @include link-colors($color-blue, $color-orange, $color-green, $color-blue, $color-orange);

            @include from('desktop') {
                &[href^="tel:"] {
                    text-decoration: none;
                    @include link-colors($color-text, $color-text, $color-text, $color-text, $color-text);
                    cursor: default;
                }
            }
        }

        h1, .title-h1 {
            padding-bottom: 0.3em;
            //            border-bottom: solid 3px #ccc;
            border-bottom: solid 3px $color-orange;
            margin: {
                top: 1em;
                bottom: 1.5em;
            }
            font: {
                weight: bold;
                size: 2em;
            }
        }

        h2, .title-h2 {
            font: {
                size: 1.6em;
                weight: bold;
            }
        }

        h3, .title-h3 {
            font: {
                size: 1.4em;
                weight: bold;
            }
        }

        h4, .title-h4 {
            font: {
                size: 1.2em;
                weight: bold;
            }
            color: $color-text;
        }

        blockquote {
            padding: 1em;
            background-color: #ffffff;
            font-style: italic;
            position: relative;
            padding-left: 6em;
            //min-height: 60px;

            &::before {
                display: block;
                @include content("\201C");
                font-size: 8em;
                font-family: Georgia, Times, "Times New Roman", serif;
                position: absolute;
                top: -1rem;
                left: 1rem;
                line-height: normal;
            }

            p {
                &:first-child {
                    margin-top: 0;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        form {
            @import 'forms';
        }

        [id="navigation"] {
            text-align: center;
            border-top: solid 3px #ccc;
            margin-top: 5rem;

            .page-numbers {
                display: inline-block;
                padding: 1.5rem 2rem;
                text-decoration: none;

                &.current {
                    box-shadow: 0 -3px 0 $color-grey;
                    font-weight: bold;
                }
            }

            a {
                @include link-colors($color-text, $color-orange, $color-green, $color-text, $color-orange);
            }
        }

        .sharedaddy {
            border-top: solid 3px #ccc;
            margin-top: 5rem;

            .title-h2 {
                margin-top: 0;
            }
        }

        #jp-relatedposts {
            margin: 3rem 0 0 0;
            padding: 0;

            .title-h2 {
                margin-top: 0;
            }

            .jp-relatedposts-items {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                .jp-relatedposts-post {
                    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2);
                    background-color: #ffffff;
                    margin: .5em;
                    max-width: 280px;

                    .jp-relatedposts-post-a {
                        display: block;

                        img {
                            @include transition-duration(400ms);
                            display: block;
                        }

                        &:hover, &:focus {
                            img {
                                opacity: .5;
                            }
                        }  
                    }

                    .jp-relatedposts-post-excerpt {
                        @extend .visuallyhidden;
                    }

                    .jp-relatedposts-post-title {
                        font: {
                            size: 1.4em;
                            weight: bold;
                        }
                        margin: 0.8em 1em;

                        a {
                            text-decoration: none;
                            @include link-colors($color-text, $color-orange, $color-green, $color-text, $color-orange);
                        }
                    }

                    .jp-relatedposts-post-context {
                        margin: 0 1em 1em 1em;
                    }
                }
            }
        }

        //        [id="tarif"] {
        //            display: flex;
        //            flex-wrap: wrap;
        //            align-items: center;
        //            background-color: $color-green;
        //            color: #fff;
        //            padding: 2rem;
        //            justify-content: center;
        //            margin-bottom: 2em;
        //            margin-top: -1em;
        //            text-align: center;
        //
        //            @include from('desktop') {
        //                text-align: inherit;
        //            }
        //
        //            > div {
        //                font-size: 1.2em;
        //            }
        //
        //            .title {
        //                display: block;
        //                font-size: 2em;
        //                margin-right: 8rem;
        //                margin-bottom: 2rem;
        //            }
        //
        //            a {
        //                @include link-colors(#fff, $color-grey, $color-blue, #fff, $color-grey); // $normal, $hover, $active, $visited, $focus
        //            }
        //
        //            p {
        //                margin: 0;
        //            }
        //        }

        [id="tarifs"] {
            table {
                border-collapse: collapse;
                margin: {
                    left: auto;
                    right: auto;
                }
                table-layout: fixed;
                width: 100%;

                thead {
                    text-align: center;

                    tr {
                        th {
                            background-color: #fff;
                            border: solid 3px #F1F1F1;
                            font-size: 1.1em;

                            &:first-child {
                                background-color: transparent;
                                //                                width: 10%;
                            }
                        }
                    }
                }

                tbody {
                    text-align: center;

                    tr {
                        td {
                            border: solid 3px #F1F1F1;
                            background-color: #fff;

                            &:first-child {
                                font-weight: bold;
                                font-size: 1.1em;
                                //                                width: 10%;
                            }
                        }
                        //                        &:nth-child(even) {
                        //                            td {
                        //                                background-color: #fff;
                        //                                border: solid 3px #F1F1F1;
                        //
                        //                                &:first-child {
                        //                                    background-color: transparent;
                        //                                }
                        //                            }
                        //                        }
                    }
                }

                tfoot {
                    text-align: center;

                    td {
                        &:not(:empty) {
                            background-color: #fff;
                            border: solid 3px #F1F1F1;
                        }
                        //                        padding: {
                        //                            top: 3rem;
                        //                        }

                        &:last-child {
                            background-color: transparent;
                        }
                    }

                    [role="button"] {
                        margin: 1em 0;
                    }
                }

                tr {

                }

                td, th {
                    padding: 1rem 2rem;
                }

                td {
                    &:first-child {
                        white-space: nowrap;
                    }
                }

                th {
                    white-space: nowrap;
                }

                .price {
                    display: block;
                    font-size: 2em;
                    color: $color-orange;
                }

                i {
                    font-size: 1.2em;

                    &.fa-check {
                        color: $color-green;
                    }
                }
            }
        }

        > section {
            &[id="contact"] {
                .cols {
                    display: flex;
                    flex-wrap: wrap;

                    > div {
                        flex-grow: 1;

                        @include from('desktop') {
                            margin:  {
                                left: 1em;
                                right: 1em;
                                top: -1em;
                            }
                        }

                        > h2 {
                            margin-top: 1rem;
                        }
                    }

                    i {
                        margin: {
                            right: 0.2em;
                        }
                    }
                }
            }

            &[id="realisations"], &[id="search"] {
                .cols {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;

                    @include from('desktop') {
                        display: block;
                    }

                    > article, .article {
                        margin: .5em;

                        @include from('desktop') {
                            margin: 0;
                            margin-bottom: 1.5em;

                            &:last-child {
                                margin-bottom: 0;
                            }
                        }

                        .illustration {
                            @include from('desktop') {
                                flex-shrink: 0;
                            }
                        }
                    }
                }

                article, .article {
                    max-width: 280px; // valeur fixe car les images font 300px de large
                    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2);
                    background-color: #ffffff;

                    @include from('desktop') {
                        max-width: none;
                        display: flex;
                    }

                    a[role="button"], .button {
                        &.active {
                            &::after {
                                transform: rotate(-90deg);
                            }
                        }

                        @include from('desktop') {
                            display: inline-block;
                            margin-bottom: 1em;
                            width: auto;
                        }
                    }

                    .visibility-toggle {
                        padding: 1px 0; // Hack pour éviter le sur saut au toggle
                    }
                }
            }

            &[id="services"], &[id="service"] {
                .cols {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;

                    .article {
                        margin: 1em;
                    }
                }

                .article {
                    max-width: 280px; // valeur fixe car les images font 300px de large
                    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.2);
                    background-color: #ffffff;

                    footer {
                        @include from('desktop') {
                            a {
                                margin-bottom: 1em;
                            }
                        }
                    }

                    .visibility-toggle {
                        padding: 1px 0; // Hack pour éviter le sur saut au toggle
                    }

                    a[role="button"], .button {
                        &.active {
                            &::after {
                                transform: rotate(-90deg);
                            }
                        }
                    }
                }
            }

            &[id="service"] {
                .cols {
                    // align-items: flex-start;
                }
            }

            &.archive { // toute les pages listant des elements
                article, .article {
                    .content-article {
                        padding: {
                            left: 1em;
                            right: 1em;
                        }
                    }

                    .illustration {
                        a, img {
                            display: block;
                        }

                        a {
                            img {
                                @include transition-duration(400ms);
                                display: block;
                            }

                            &:not(.reverside) {
                                &:hover, &:focus {
                                    img {
                                        //box-shadow: 0 0 0 5px $color-green inset;
                                        opacity: .5;
                                    }
                                }   
                            }
                        }
                    }

                    h2 {
                        a {
                            text-decoration: none;
                            @include link-colors($color-text, $color-orange, $color-green, $color-text, $color-orange);
                        }
                    }

                    a[role="button"], .button {
                        margin: {
                            bottom: 1em;
                        }
                    }
                }
            }

            &[id="page"], &[id="post"], &[id="none"] {

            }

            &[id="archive"], &[id="search"] {

            }
        }
    }

    [id="breadcrumbs"] {
        font: {
            size: .8em;
        }
        margin: {
            bottom: -1em;
            top: 1em;
        }

        ol {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;

            li {
                position: relative;

                @include from('desktop') {
                    margin-right: 0.5em;
                }

                &::after {
                    @include content('\203A');

                    @include from('desktop') {
                        margin-left: 0.5em;
                    }
                }

                &:last-child {
                    &::after {
                        display: none;
                    }
                }

                a {
                    display: inline-block;
                }

                span {
                    //                    display: inline-block;
                    padding: 0.2em 0.5em;

                    @include from('desktop') {
                        padding: inherit;
                    }
                }
            }
        }
    }
}
